* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  position: relative;
}

.container {
  width: 1200px;
  /*Auto will make browser calculate equivalent margins on both sides even when resized*/
  /* Below is same as:
  margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

/*
padding: 20 to top and bottom, 40 to sides
 */
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  /*Try not to mix top and bottom for margin spacing. Stick to bottom*/
  margin-bottom: 60px;
  /* Total height is not only the 80px, but that plus the padding as well!
  Typically, we don't have a fixed height because elements can spill over*/
  /* height: 80px; */
}

.post-header {
  margin-bottom: 40px;
}

nav {
  font-size: 18px;
  /*text-align: center;*/
}

article {
  margin-bottom: 60px;
}

aside {
  border-top: 5px solid #0f98ad;
  border-bottom: 5px solid #0f98ad;
  background-color: #f7f7f7;
  /* Top and bottom are first number when there are two */
  padding: 50px 40px;
  box-sizing: border-box;
}

h1, 
h2, 
h3 {
  color: #0f98ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

/*article header p {
  font-style: italic;
}*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-posts {
  list-style: none;
  margin-left: 0;
}

/*
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  /*color: red;
}
*/


/* styling links */
a:link {
  color: #1098ad
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* LVHA is the order these should be written */

/* percentage is typically the percentage of the parent container*/
.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}

/*pseudo-elements are two colons, unlike pseudo-classes' one*/
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2::after {
  /*pseudo-element content. done when we don't wish to create
  a whole new element for some small styling*/
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  /*Typically inline element as default*/
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  /*Negative value makes it move the opposite direction*/
  top: -10px;
  right: -25px;
}

/*FLOATS*/

/*
.author-img {
  float:left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}
*/

/* FLEXBOX */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
}

article {
  /*Lets the element grow as much as it can in the available space*/
  flex: 1;
  margin-bottom: 60px;
}

aside {
  /*Remember, use flex-basis instead of width for resizing
  DEFAULTS:display: flex-grow: grow 0, shrink 1, basis auto;*/
  flex: 0 0 300px
}