* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
}

.container {
  width: 800px;
  /*Auto will make browser calculate equivalent margins on both sides even when resized*/
  /* Below is same as:
  margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

/*
padding: 20 to top and bottom, 40 to sides
 */
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  /*Try not to mix top and bottom for margin spacing. Stick to bottom*/
  margin-bottom: 60px;
  /* Total height is not only the 80px, but that plus the padding as well!*/
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

aside {
  border-top: 5px solid #0f98ad;
  border-bottom: 5px solid #0f98ad;
  background-color: #f7f7f7;
  /* Top and bottom are first number when there are two */
  padding: 50px 0;
  width: 500px;
}

h1, 
h2, 
h3 {
  color: #0f98ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

/*article header p {
  font-style: italic;
}*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-posts {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  /*color: red;*/
}

/* styling links */
a:link {
  color: #1098ad
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* LVHA is the order these should be written */

/* percentage is typically the percentage of the parent container*/
.post-img {
  width: 100%;
  height: auto;
}